body {
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,sans-serif,"Segoe UI Symbol";
}

/* START navigation formatting */
.navbar {
	border: 0px solid;
	border-radius: 10px;
	padding: 0;
	position: fixed;
	width: 98%;
	min-width: 360px;
	background-color: rgba(255, 192, 0, 0.7);
	display: flex;
	justify-content: left;
	transition: top 0.3s;
	transition-timing-function: ease-in-out;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    overflow: hidden;
}

li {
    float: left;
	padding-left: -20px;
}

li a {
    display: block;
    color: #000;
	font-weight: 600 !important;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
   color: #00afff;
}

#logo {
	padding: 15px 0px 0px 15px;
	height: 30px;
	width: auto;
}

/* END navigation formatting */

.breaker {
    height: 3vh;
}

@media only screen and (max-width: 600px) {
  .breaker {
    height: 1vw;
  }
}

section {
  padding-top: 100px;
}

#welcome-container {
  background-image: url("computer0.jpg"); 
  background-color: #cccccc; 
  height: 60vh; 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}

#welcome-heading {
	padding-top: 20vh;
}

#welcome-text {
	color: #000;
}	
 
.cards-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.cards-container > * {
	text-decoration: none;
	color: #000;
}

.project-tile {
  width: 20vw;
  height: 30vh;
  min-width: 220px;
  min-height: 330px;
  border: 1px solid #eee;
  border-radius: 10px;
  text-align: center;

}

.project-tile:hover {
	box-shadow: 2px 2px 3px #00afff;
	background-color: rgba(255, 192, 0, 0.1);
	color: #00afff;
	
}

.project-tile > img {
	border: 0px solid #eee;
	border-radius: 10px;
}

.project-tile > h4 {
	top: 50%;
}


#github-div {
	display: flex;
	justify-content: left;
}

