body {
  padding-left: 2vw;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,sans-serif,"Segoe UI Symbol";
}

/* START navigation formatting */
.navbar {
	border: 0px solid;
	border-radius: 10px;
	
	padding: 0;
	position: fixed;
	width: 90%;
	min-width: 360px;
	background-color: rgba(255, 192, 0, 0.7);
	display: flex;
	justify-content: left;
	transition: top 0.3s;
	transition-timing-function: ease-in-out;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    overflow: hidden;
}

li {
    float: left;
	padding-left: -20px;
}

li a {
    display: block;
    color: #000;
	font-weight: 600;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
   color: #00afff;
}

#logo {
	padding: 15px;
	height: 40px;
	width: auto;
}

/* END navigation formatting */

.breaker {
    height: 3vh;
}

@media only screen and (max-width: 600px) {
  .breaker {
    height: 1vw;
  }
}

section {
  padding-top: 100px;
}



.cards-container {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.project-tile {
  display: inline-block;
  width: 15vw;
  height: 17vw;
  border: 1px solid #eee;
  border-radius: 10px;
  text-align: center;
  transition: 0.5s;
}
.project-tile:hover {
	transform: scale(1.5);
}

#github-div {
	display: flex;
	justify-content: left;
}

